{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">OraPy</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('database') }}">Database</a></li>
                    <li><a href="{{ url_for('programming') }}">Programming</a></li>
                    <li><a href="{{ url_for('devops') }}">DevOps</a></li>
                    <li><a href="{{ url_for('script') }}">Scripts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('oracle') }}" >Oracle</a></li>
                    <li><a href="{{ url_for('postgres') }}">Postgres</a></li>
                    <li><a href="{{ url_for('mysql') }}">MySQL</a></li>
                    <li><a href="{{ url_for('mongodb') }}">MongoDB</a></li>
                    <li><a href="{{ url_for('hadoop') }}">Hadoop</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% for blog in blogs %}
       <div><p>Blog Post: {{ blog.title }}</b></p></div>
       <div><p>Blog Details: {{ blog.blog_detail }}</b></p></div>
{% endfor %}

{% endblock %}
